.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  /*height: 80px;*/
  background: #eee;
}

.footer {
  /*height: 30px;*/
  background: #eee;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 0 0 6.5em;
  align-items: center;
  display: flex;
  background: #303030;
}

.lists {
  flex: 0 0 8em;
  padding: 1.5em;
  display: flex;
  background: #404040;
}

.content {
  flex: 1;
}
